name: Auto Approval / Renovate

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - main

jobs:
  approve-github-bot:
    name: Approving with GitHub bot
    if:
      startsWith(github.head_ref, 'renovate/') ||
      startsWith(github.event.pull_request.head.ref, 'renovate/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: Generate App Token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Approving with GitHub bot
        uses: ./
        with:
          token: ${{ steps.generate-token.outputs.token }}
